.pt-main {
    text-align: center;
    justify-content: center;
    display: flex; 
    width: 100%;
    height: 100%;
  }
  
  .pt-sub-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    padding: 0px 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0 rgb(126, 126, 126);
  }
  
  .pt-title {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pt-title h1{
    font-size: 30px;
    color: black;
  }
  
  .pt-underline {
    width: 61px;
    height: 6px;
    background: black;
    border-radius: 9px;
  }
  
  .pt-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .pt-input{
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 350px;
    height: 50px;
    border-radius: 6px;
    border-bottom: 2px solid black;
  } 
  
  
  .pt-input input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px 0 5px;
  }
  
  .pt-input input::placeholder{
    color: #808080;
    font-weight: 600;
  }
  
  .pt-input i{
    color: black;
    margin: 0px 20px;
  }
  
  
  .pt-btn {
    width: 100%;
    height: 45px;
    background: white;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight:600;
    margin-bottom: 20px;
  }
  
  .pt-btn:hover {
    background: black;
    color: white;
  }

  @media screen and (max-width: 850px) {

    .pt-sub-main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #F5F5F5;
        width: 95%;
        height: auto;
        position: absolute;
        box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
        border-radius: 16px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
  }
    