.pt-main {
    text-align: center;
    justify-content: center;
    display: flex; 
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
  }
  
  .pt-sub-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    padding: 0px 30px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  }
  
  .pt-title {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pt-title h1{
    font-size: 30px;
    color: white;
  }
  
  .pt-underline {
    width: 61px;
    height: 6px;
    background: white;
    border-radius: 9px;
  }
  
  .pt-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  
  .pt-input{
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 350px;
    height: 50px;
    border-radius: 6px;
    border-bottom: 2px solid white;
  } 
  
  
  .pt-input input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px 0 5px;
  }
  
  .pt-input input::placeholder{
    color: #808080;
    font-weight: 600;
  }
  
  .pt-input i{
    color: white;
    margin: 0px 20px;
  }
  
  
  .pt-btn {
    width: 100%;
    height: 45px;
    background: black;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight:600;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
  .pt-btn:hover {
    background: #00FF7F;
    color: black;
  }
    