.uta-main {
  text-align: center;
  justify-content: center;
  display: flex; 
  width: 100%;
  height: 100%;
}

.uta-sub-main {
  display: grid;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(2, 370px);
  grid-gap: 10px;
  padding-top: 30px;
  padding: 0px 30px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0 rgb(126, 126, 126);
}

.uta-title {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 2;
  grid-template-columns: repeat(2, 1fr);
}

.uta-title h1{
  font-size: 30px;
  color: black;
}

.uta-underline {
  width: 61px;
  height: 6px;
  background: black;
  border-radius: 9px;
}

.uta-inputs {
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}

.uta-input{
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 350px;
  height: 50px;
  border-radius: 6px;
  border-bottom: 2px solid black;
} 


.uta-input input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px 0 5px;
}

.uta-input input::placeholder{
  color: #808080;
  font-weight: 600;
}

.uta-input i{
  color: black;
  margin: 0px 20px;
}


.uta-btn-upload {
  width: 100%;
  height: 45px;
  background: white;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
  font-weight:600;
  grid-column: span 2;
}

.uta-btn-back {
  width: 100%;
  height: 45px;
  background: white;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight:600;
  margin-bottom: 20px;
  grid-column: span 2;
}

.uta-btn-back:hover {
  background: black;
  color: white;
}

.uta-btn-upload:hover {
  background: black;
  color: white;
}

@media screen and (max-width: 850px) {

  .uta-sub-main{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    padding: 0px 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0 rgb(126, 126, 126);
  }

  .uta-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}